<div class="post">
  <div class="header">Post title</div>

  <button [routerLink]="'/'" class="btn btn-link">To main page</button>

  <div class="info">
    <strong>Author</strong>
    <small>12.04.21</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid delectus deleniti dolor necessitatibus nostrum obcaecati odio vel. Ab alias animi architecto aspernatur autem delectus deleniti deserunt doloribus dolorum ducimus, eius enim eveniet expedita harum iure laudantium mollitia nesciunt nihil odit officiis, perferendis placeat quae quos, ratione repellendus saepe sed unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid delectus deleniti dolor necessitatibus nostrum obcaecati odio vel. Ab alias animi architecto aspernatur autem delectus deleniti deserunt doloribus dolorum ducimus, eius enim eveniet expedita harum iure laudantium mollitia nesciunt nihil odit officiis, perferendis placeat quae quos, ratione repellendus saepe sed unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid delectus deleniti dolor necessitatibus nostrum obcaecati odio vel. Ab alias animi architecto aspernatur autem delectus deleniti deserunt doloribus dolorum ducimus, eius enim eveniet expedita harum iure laudantium mollitia nesciunt nihil odit officiis, perferendis placeat quae quos, ratione repellendus saepe sed unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid delectus deleniti dolor necessitatibus nostrum obcaecati odio vel. Ab alias animi architecto aspernatur autem delectus deleniti deserunt doloribus dolorum ducimus, eius enim eveniet expedita harum iure laudantium mollitia nesciunt nihil odit officiis, perferendis placeat quae quos, ratione repellendus saepe sed unde.</p>
  </div>
</div>
