<form class="card">
  <h2>Enter to administrator panel</h2>
  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email">
    <div class="validation">
      <small>error</small>
    </div>
  </div>

  <div class="form-control">
    <label for="email">Password:</label>
    <input id="password" type="password">
    <div class="validation">
      <small>error</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
